#Foto {
	width: 400px;
	height: 300px;
	margin-left: 35%;
}
img {
	width: 210px;
	height: 200px;
	padding: 10px;
	border: 10px solid white;
}
body {
	background: darkblue;
	text-align: center;
	color: whitesmoke;
}